body {
	padding: 2 rem;
}

optgroup,
textarea {
	font-family: helvetica, sans-serif;
}

h1 {
	font-size: 1.2rem;
}

.site-title {
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: bold;	
}

a {
	color: #222;
}
a:visited {
	color: #222;
}
a:hover {
	color: orange;
}
.current_page_item > a {
	color: #aaa;	
}
.main-navigation ul ul {
	box-shadow: none;
	float: none;
	position: inherit;
	margin-left: 1rem;
}
.main-navigation ul ul ul {
	left: auto;
}
.main-navigation a {
	text-decoration: underline;
}
.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: block;
}
-@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: block;
	}
	.main-navigation ul {
		display: block;
	}
}
	
